{% extends 'fruit/base.html' %}





{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'user:f_nut' %}?cat=0">首页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">水果分类<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user:f_nut' %}?cat={{ 0 }}">全部水果</a></li>
                            {% for f in cats %}
                                <li><a href="{% url 'user:f_nut' %}?cat={{ forloop.counter }}">{{ f.category__name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" method="get" action="/user/find">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="最低价格" name="price1">
                        <input type="text" class="form-control" placeholder="最高价格" name="price2">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a >你好,{{  username }}</a></li>
                    <li><a href="/user/loginout">注销</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">个人中心<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/cart">查看购物车</a></li>
                            <li><a href="#">查看订单</a></li>
                            <li><a href="#">查看地址</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
        <div class="container-fluid  t_body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                        <div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <td>购物车编号</td>
                <td>名称</td>
                <td>数量</td>
                <td>单价</td>
                <td>总价</td>
            </tr>
        </thead>
        <tbody>
            {% for f in fruit %}
            <tr>
                <td>{{ f.no }}</td>
                <td>{{ f.f_name}}</td>
                <td>{{ f.cnt }}</td>
                <td>{{ f.price }}</td>
                <td>{% widthratio  f.cnt  1 f.price  %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                    <nav aria-label="Page navigation" class="pager">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for _ in page %}
                                <li><a href="{% url 'user:cart'  %}?page={{ forloop.counter}}" >{{ forloop.counter }}</a></li>
                            {% endfor %}
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}